<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" py:strip="">
	<py:match path="head" once="true">
		<head py:attrs="select('@*')">
			<title py:with="title = list(select('title/text()'))">
				<py:if test="title">${title} - </py:if>Redbrick VMs
			</title>
			<link href="/static/global.css" rel="stylesheet" type="text/css" />
		</head>
	</py:match>
	<py:match path="body" once="true">
		<body py:attrs="select('@*')">
			<div class="login_info" py:if="user">Logged in as ${user.username}. <a href="/logout">Logout</a></div>
			${select('*|text()')}
		</body>
	</py:match>
</html>
