<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org">
	<xi:include href="base.html" />
	<head>
		<title>Change Password</title>
	</head>
	<body>
		<h1>Change Password</h1>
		<p><b>Big fat warning:</b> We strongly suggest that you use a password different to that of your main Redbrick login account for this system.</p>
		<py:if test="token is not None">
			<form action="/dochangepassword" method="POST">
				<input type="hidden" name="token" value="${token.token}" />
				<table class="formtable">
					<tr>
						<td class="key">Current password:</td><td colspan="2"><input type="password" name="current_password" /></td>
					</tr>
					<tr>
						<td class="key">New password</td><td colspan="2"><input type="password" name="password_a" /></td>
					</tr>
					<tr>
						<td class="key">New password (repeat)</td><td colspan="2"><input type="password" name="password_b" /></td>
					</tr>
					<tr>
						<td colspan="3" class="actions" style="text-align : center"><input type="submit" value="Change Password" /></td>
					</tr>
				</table>
			</form>
		</py:if>
	</body>
</html>