<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
	<xi:include href="base.html" />
	<head>
		<title>Change KVM IRQ chip setting</title>
	</head>
	<body>
		<h1>Change KVM IRQ chip setting</h1>
		<p py:if="error is None">The IRQ chip setting has changed. This will not take effect until the next time that you power on the VM. Click <a href="/manage?id=${vm.id}">here</a> to return to the management screen.</p>
	</body>
</html>
