<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
	<xi:include href="base.html" />
	<head>
		<title>Manage VM</title>
	</head>
	<body>
		<h1>Manage VM</h1>
		<py:if test="vm">	
			<h3>VM Name</h3>
			<p>${vm.name}</p>
			
			<h3>Last Launch</h3>
			<p>${str(vm.last_launch)}</p>

			<h3>Properties</h3>
			<table>
				<py:for each="property in vm.properties">
					<tr>
						<td class="vm_key">${property.key}</td>
						<td class="vm_value">${property.value}</td>
						<td class="vm_help"><a href="/help?s=${property.key}">?</a></td>
					</tr>
				</py:for>
			</table>

			<h3>Actions</h3>

		</py:if>
	</body>
</html>
