Source: rbvm
Section: misc
Priority: extra
Maintainer: Andrew Martin <werdz@redbrick.dcu.ie>
Build-Depends: cdbs, debhelper (>= 7.3.15ubuntu2), python-support
Standards-Version: 3.8.1
Homepage: https://docs.redbrick.dcu.ie/rbvm
XS-Python-Version: >= 2.6

Package: rbvm
Architecture: any
Depends: adduser, qemu-kvm, uml-utilities, bridge-utils, python-sqlalchemy, python-cherrypy3, python-genshi, ${python:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: The Redbrick VM Management software
 Provides a web interface for managing virtual machines, originally intended to run behind the Redbrick VM services. Currently supports KVM virtualisation.
